# API Keys
GEMINI_API_KEY=

# Application Settings
PROJECT_NAME="CrowdPilot AI"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# Security
SECRET_KEY="supersecret_change_in_production"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
